extends ../layouts/default.pug
include ../mixins/options.pug
block main
  h1.box-title Sửa bài viết

  .section-8
    form#article-edit-form
      .inner-group(style="display:none")
        label(class="inner-label" for="id") Id
        input(type="text" id="id" name="id" value = articleDetail.id)
      .inner-group
        label(class="inner-label" for="title") Tiêu đề
        input(type="text" id="title" name="title" value = articleDetail.title)
      .inner-group
        label(class="inner-label" for="author") Tác giả
        input(type="text" id="author" name="author" value= articleDetail.author)
      .inner-group.inner-two-col
        label(class="inner-label" for="cover") Ảnh đại diện
        div(class="inner-upload-image" image-default=articleDetail.cover)
          input(type="file" id="cover" accept="image/*" filepond-image name="cover")
      .inner-group.inner-two-col
        label(class="inner-label" for="content") Nội dung bài viết
        textarea(id="content" textarea-mce name="content") #{articleDetail.content}
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/article/list`) Quay lại danh sách