extends ../layouts/default.pug
include ../mixins/options.pug
block main
  h1.box-title Tạo bài viết

  .section-8
    form#article-create-form
      .inner-group
        label(class="inner-label" for="title") Tiêu đề
        input(type="text" id="title" name="title")
      .inner-group
        label(class="inner-label" for="author") Tác giả
        input(type="text" id="author" name="author")
      .inner-group.inner-two-col
        label(class="inner-label" for="cover") Ảnh bìa
        div(class="inner-upload-image")
          input(type="file" id="cover" accept="image/*" filepond-image name="cover")
      .inner-group.inner-two-col
        label(class="inner-label" for="content") Nội dung bài viết
        textarea(id="content" textarea-mce name="content")
      .inner-button.inner-two-col
        button Tạo mới
    .inner-back
      a(href=`/${pathAdmin}/article/list`) Quay lại danh sách